<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4p [%d{mm:ss.SSS}] [%thread] %logger{36}: %m%n</pattern>
        </encoder>
    </appender>
    <root level="TRACE">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
